################### DataSource Configuration #########################
spring.datasource.url=jdbc:mysql://localhost:3306/hawaii?useSSL=false&createDatabaseIfNotExist=true&useUnicode=true&characterEncoding=UTF-8
spring.datasource.username=root
spring.datasource.password=root

################### Hibernate/Spring JPA Configuration ###############
spring.jpa.properties.hibernate.dialect = org.hibernate.dialect.MySQL5InnoDBDialect
spring.jpa.hibernate.ddl-auto=none

################### Spring Batch Configuration ###############
spring.batch.job.enabled=false
spring.batch.initialize-schema=ALWAYS

################### Liquibase Configuration ##########################
spring.liquibase.change-log=classpath:/db/changelog/changelog-master.xml
spring.liquibase.enabled=true

################### Logging ##########################################
logging.file=log/application.log
# Logging pattern for the console
logging.pattern.console= %d{yyyy-MM-dd HH:mm:ss} %-5level - %msg%n
# Logging pattern for file
logging.pattern.file= %d{yyyy-MM-dd HH:mm:ss} [%-22thread] %-5level %logger{36} - %msg%n
# Logging file maximum size
logging.file.max-size=5MB
# Number of logging files to keep in history
logging.file.max-history=10

################### Email configuration ###############################
spring.mail.host=smtp.gmail.com
spring.mail.port=587
spring.mail.username=
spring.mail.password=
spring.mail.properties.mail.smtp.auth=true
spring.mail.properties.mail.smtp.starttls.enable=true

################### Firebase configuration ##########################################
fcm.service-account-file=
fcm.server-legacy-key=
fcm.api-url=https://fcm.googleapis.com/fcm/send

################### Security configuration ##########################################
security.google-client-ids=